.Main_Home_Page {
    display: flex;
    background-color: var(--primary-green);
    align-items: top;
    justify-content: space-between;
    height: 440px;
}


@media (max-width: 768px) {
    .Main_Home_Page {
        padding: 6em 6vw;
        height: 280px;
    }

    .RestaurantFood {
        margin-top: 1rem;
        align-self: center;
        width: 35vw;
        height: 30vw;
        background-color: rebeccapurple;
    }
}


@media (min-width: 769px) {
    .Main_Home_Page {
        padding: 6em 10vw;
        justify-content: space-between;
        height: 280px;
    }

    .RestaurantFood {
        width: 20vw;
        height: 20vw;
        margin-top: 1rem;
    }

}

.RestaurantFood {
    border-radius: 16px;
    width: 35vw;
    height: 35vw;
    max-width: 400px;
    max-height: 420px;
    object-fit: cover;
    margin-top: 1rem;
}

@media (max-width: 380px) {
    .Main_Home_Page {
        padding: 6em 6vw;
        flex-wrap: wrap;
        height: 90vh;
    }

    .RestaurantFood {
        margin-top: 1rem;
        width: 100vw;
        height: 75vw;
        background-color: rebeccapurple;

    }
}

@media (min-width: 1280px) {
    .Main_Home_Page {
        padding: 6em calc((100vw - 1040px) / 2);
    }
}