.Button {
    text-decoration: none;
    background-color: var(--primary-yellow);
    padding: 16px 32px;
    font-family: var(--font-karla-medium);
    font-size: var(--font-size-section-title);
    color: black;
    font-weight: 500;
    border-radius: 24px;
    border: 0px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.Button:hover {
    background-color: var(--secondary-orange);
    color: white;
}
