.nav {
    display: flex;
    background-color: white;
    padding:  20px 10vw ;
    height: 45px;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    font-family: var(--font-karla-regular);
}


.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    max-width: 500px;

}

.nav ul li {
    justify-content: space-between;
}


.nav ul li a {

    text-decoration: none;
    color: var(--dark);
    font-size: 1em ;
    font-weight: bold;
    transition: color 0.3s ease;
}


  .nav ul li a:hover {
    color: var(--primary-green);
}


  .little-lemon-logo {
    width: 15vw;
    max-width: 200px;
    height: auto;
}


body {
    margin: 0;
  }

.longin_Button {    
    width: 70px;
    height: 30px;
    background-color: var(--dark);
    color: white;
    font-family: var(--font-karla-regular);
    font-size: 1rem;
    border-radius: 16px;
    border: 0px;
    margin: 0;
}

.basket_icon {
    width: 35px;
}

@media (max-width: 769px) {
    .nav ul {
        visibility: visible;
    }
}

.loginSide {    
    display: flex;
    align-items: center;
    padding: 0px 8px;
    gap: 16px;
    align-items: center; 
    justify-content: center;

}

.hamburger {
    display: none; /* Hide hamburger by default */
    cursor: pointer;
    width: 30px;
    height: 30px;
    align-self: center;
  }
  
  @media (max-width: 850px) {
    .nav ul {
      display: none; /* Hide the nav links when the screen width is 800px or less */
    }
  
    .hamburger {
      display: block; /* Show the hamburger icon on small screens */
    }
  
    .nav.open ul {
      display: block; /* Show the nav links when the menu is open */
      position: absolute;
      top: 90px;
      left: 0 ;
      background-color: white;
      padding: 10px;
      width: 50%;
      text-align: center;
      box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    }
  
    .nav.open ul li {
      border-bottom: 1px solid var(--gray);
      display: flex;
      margin: 40px 20px;
    }

    .little-lemon-logo {
        width: 200px;
        height: auto;
    }

  }

@media (max-width: 640px) {
    .longin_Button {
      display: none;
    }
}

@media (max-width: 768px) { 
    .nav {
        padding: 20px 6vw ;
    }
}