.find_table_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 24px;
    grid-auto-rows: auto;
}

.Resrve_Restaurant{
    width: 50%;
    border: 1px solid var(--gray);
    box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    border-radius: var(--size-small);
    align-self: center;
    justify-self: center;    
    z-index: 2;
    
}

.Images_Side {
    grid-column: span 2;
    grid-row: 1;
    width: 100%;
    display: flex;
    height: auto;
    gap: 24px;
    align-self: center;
    justify-content: center;
}

.Resrve_Restaurant_Chef {
    width: 50%;
    object-fit: cover;
    border: 1px solid var(--gray);
    z-index: 1;
    box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.2);
    border-radius: var(--size-small);
    align-self: center;
    justify-self: center;
}

.find_title {
    grid-column: span 2;
    grid-row:2 ;
}

.date {
    grid-column: 1;
    grid-row:3 ;
}

.time {
    grid-column: 2;
    grid-row: 3;
}

.number_diners {
    grid-column: 1;
    grid-row: 4;
}

.occasion {
    grid-column: 2;
    grid-row: 4;
}

.options_title {
    grid-column: 1;
    grid-row: 5;
}

.standard {
    display: flex;
    justify-content: space-between;
    
    grid-column: 1;
    grid-row: 6;
}

.outside {
    display: flex;
    justify-content: space-between;
    grid-column: 1;
    grid-row: 7;
}

.btn_lets_go {
    grid-column: span 2;
    grid-row: 8;
    justify-self: right;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    font-family: var(--font-karla-regular);
    font-size: var(--size-24) ;
    accent-color: blue;
}

.standard label, .outside label {
    font-family: var(--font-karla-regular);
    font-size: var(--size-24) ;
}


.date, time {
    margin: 0;
    padding: 0;
}

label {
    color: white;
    font-family: var(--font-karla-regular);
    font-size: var(--size-18) ;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: var(--font-karla-medium);
    font-size: var(--size-20);
  }

input:hover {
    
    border: 1px solid blue;
  }

  
@media (max-width: 560px) {
    .find_table_form {
        height: auto;
        display: block;
    }
    .btn_lets_go {
        display: flex ;
        justify-content: end;
        align-content: end;
        margin-top: 24px;
    }

    .options_title {
        margin-top: 24px;
    }

}