.Reserve_Table_Section{
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 100px 10vw ;
    flex-wrap: wrap;
    border-top: 1px solid var(--gray);
    background-color: var(--primary-green);
    gap: 8px;
}


.Form_Side {
    width: 100%;
}


@media (min-width: 1280px) {
    .Reserve_Table_Section {
        padding: 100px calc((100vw - 1040px) / 2);
    }
}

@media (max-width: 880px) {
    

}

@media (max-width: 560px) {
    .Reserve_Table_Section {
        padding: 100px 6vw;
    }
}