
.Card {
    display: flex;
    flex-direction: column;
    gap: var(--size-small);
    border: 1px solid var(--gray);
    border-radius: var(--size-small) var(--size-small) 0 0;
    width: 265px;
    height: 440px;
    box-shadow: 6px 6px 6px -1px rgba(0, 0, 0, 0.2);
}

.description  {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--font-karla-regular);
    font-size: var(--font-size-card-title);
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name_price {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.dish_name, .dish_price {
    font-family: var(--font-markazi-regular);
    font-size: var(--font-size-large-pargraph);
    color: black;
    width: auto;
}

.dish_price {
    color: var(--secondary-orange);
}

.Card_image {
    width: 265px;
    height: 185px;
    object-fit: cover;
    border-radius: var(--size-small) var(--size-small) 0 0;
}

.order_delivery_button {
    border: none;
    font-family: var(--font-karla-regular);
    font-size: var(--font-size-card-title);
    font-weight: 700;
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--dark_gray);
}

.delivery_icon {
    margin-left: var(--size-small);
    width: var(--size-24);
}

.Card_details {
    padding: var(--size-small) var(--size-24);
}





@media (max-width: 768px) {

    .Card {
        display: grid;
        width: 100%;
        height: 30vw;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        border-radius: var(--size-small);
        gap: 0px;
    }

    .name_price {
        grid-column: 1;
        grid-row: 1;
    }

    .dish_name, .dish_price{
        font-size: var(--font-size-large-pargraph);

    }
    
    .order_delivery_button {
        grid-column: 1;
        grid-row: 3;
    }

    .Card_image {
        grid-column: 2 ;
        grid-row: 1 / 3;
        width: 100%;
        height: 30vw;
        object-fit: cover;
        border-radius: 0 var(--size-small) var(--size-small) 0;
    }

    .description {
        grid-column: 1;
        grid-row: 2;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
}

@media (max-width: 585px) {
    .description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    } 
}

@media (max-width: 375px) {

    .Card {
        display: flex;
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    .Card_image {
        width: 100%;
        object-fit: cover;
        border-radius: var(--size-small) var(--size-small) 0px 0px;
    }

    .Section_title {
        font-family: var(--font-karla-regular);
        font-size: var(--font-size-section-title);
        font-weight: 700;
        text-align: center;
    }
    .description {
        display: none;
       }
}