@font-face {
  font-family: 'MarkaziText_Regular';
  src: url('./Sources/Fonts/MarkaziText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkaziText_Medium';
  src: url('./Sources/Fonts/MarkaziText-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MarkaziText_Bold';
  src: url('./Sources/Fonts/MarkaziText-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla_Regular';
  src: url('./Sources/Fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla_Medium';
  src: url('./Sources/Fonts/Karla-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla_Bold';
  src: url('./Sources/Fonts/Karla-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;

  --secondary-orange: #EE9972;
  --secondary-lightOrange: #FBDABB;

  --light: #EDEFEE;
  --dark: #333333;
  --gray: rgba(181, 181, 181, 0.6);
  --dark_gray: rgba(121, 121, 121, 1.0);

  --font-markazi-regular: 'MarkaziText_Regular';
  --font-markazi-medium: 'MarkaziText_Medium';
  --font-markazi-bold: 'MarkaziText_Bold';

  --font-karla-regular: 'Karla_Regular';
  --font-karla-medium: 'Karla_Medium';
  --font-karla-bold: 'Karla_Bold';

  --font-size-display-title: 64px;
  --font-size-big: 56px;
  --font-size-sub-title: 40px;
  --font-size-normal: 32px;
  --font-size-large-pargraph: 24px;
  --font-size-section-title: 20px;
  --font-size-card-title: 18px;
  --font-size-pargraph: 16px;
  --font-size-mini: 14px;

  --size-mini: 14px;
  --size-small: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  
  --size-title: 32px;
  --size-header: 40px;
  --size-big: 56px;
  --size-main-title: 64px;

  --desktop: 1280px;
  --tablet: 768px;
  --mobile: 375px;
}




body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}
